.linkContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a{
        text-decoration: none;
        color: black;
        width: 32%;
        border: 1px solid;
        display: flex;
        justify-content: space-evenly;

        svg{
            border: 1px solid red;
            width: 66px;
            height: 66px;
            align-self: center;
        }

        div{
            margin: 0 0 0 10px;

            p{
                margin: 10px 0;
            }
        }
    }
}